
html body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;

    font-size: 1rem;
    background-color: lightblue !important;
}

p {
    font-size: 10 px;
}

h2, h5 {
    font-family: 'Merriweather', serif;
    color: darkblue;
    font-size: 1.5rem;
}


h4 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 3.5rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: darkblue;
    font-size: 2.5rem;
}



h6 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}

.zoom {
    font-size: 4rem;
}
.usp {
    font-size: 1.2rem;

}

/* .card-text {
    text-align: center;
} */

#sci-fi-bg-btn {
    width: 80%;
    height: auto;
}

.lft-jus {
    text-align: left;
}

.p-smaller {
    font-size: small;

}

.hidden {
    display: none !important;
}

.title {
    cursor: pointer;
}

.title:hover {
    color: darkblue;
}

#badge {
    opacity: 0.2;
}

.nav-custom-color {
    background-color: lightblue;
}

.blk-title {
    /* background-color: black !important; */
}


/* from memorial2.css */

img.face {
    width: 250px;
    position: absolute;
    top: 30;
    left: 40;

}

h4 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 3.5rem;
}


h6 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}

.zoom {
    font-size: 4rem; 
}

.card {
    background-color: lightblue;
    display: inline-flex; /*needed so img shrinks to frame */
}

.card-title {
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
}


#sci-fi-bg-btn {
    width: 80%;
    height: auto;
}

img {
    margin-bottom: 0;
}

.hidden {
    display: none !important;
}

#sketch-pad {
    color: darkblue;
    font-family: 'Merriweather', serif;
}

p, label, #suspect-num, table {
    color: darkblue;
    font-family: 'Merriweather', serif;
}

.head {
    /* width: 440;
    height: 480; */
    position: relative !important;
    top: 100 !important;
    left: 100 !important;
}

.hair, .eyes, .ears, .nose, .chin, .lips, .FacialHair {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

.light-blue {
    background-color:lightblue;
}

.alert:hover {
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.departed-cards-holder {
    display: flex;
    position: absolute;
    top: 375px;
    left: 10px;
}

.ending {
    z-index: auto;
    position: absolute;
    top: 375px;
    left: 10px;
}


