<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %} {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% block meta_content %}{% endblock %}" />
	<meta name="keywords" content="virtual memorial, zoom funeral, memorial website" />
	<meta name="author" content="Larry Volz https://www.larry-volz.com" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="../static/css/flexslider.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="../static/css/obituary.css">

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->
	

	

	</head>
	<body>
	<div id="virtual-memorial-page">
		<div class="container-wrap">
		<a href="#" class="js-virtual-memorial-nav-toggle virtual-memorial-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
		<aside id="virtual-memorial-aside" role="complementary" class="border js-fullheight">
			<div class="text-center">
				<div class = "virtual-memorial-font"><a href="/">Virtual-Memorials.net</a></div>
			</div>

			<div class="row">
					<div class="col justify-content-center text-center ">
					
						{% block control_panel %}
						{% endblock %}
					</div>
					<br>
				<nav id="virtual-memorial-main-menu" role="navigation" class="navbar">
					<div id="navbar" class="collapse">
						<ul>
							<!-- <li class="active"><a href="#" data-nav-section="home">Home</a>
							</li> -->
							
							{% block links %}
							{% endblock %}
						</ul>
					</div>
				</nav>

							
			<!-- <div class="virtual-memorial-footer">
				Copyright <script>document.write(new Date().getFullYear());</script> Larry Volz
				<br> All rights reserved.  -->

				<!-- <ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul> -->
			</div>

		</aside>

		<div id="virtual-memorial-main">
			
			{% block intro_section %}
			{% endblock %}


			<section class="virtual-memorial-memorial" data-section="memorial">
				<div class="virtual-memorial-narrow-content">
	
							<div class="row row-bottom-padded-sm animate-box" data-animate-effect="fadeInLeft">
								<div class="col-md-12">
									<div class="memorial-desc">


											
											{% block control_panel2 %}
											{% endblock %}
					
									</div>
								</div>
							</div>
				</div>
			</section>


			<!-- <footer>
				<div class="row">
					<div class="col text-center">
						<small>
							Photos by <a href="https://unsplash.com/@anthonytran?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Anthony Tran</a> 
							and
							<a href="https://unsplash.com/@josuemichelphotography?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Josue Michel</a>
							on <a href="https://unsplash.com/s/photos/old-age?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
							at Unsplash</a>
		  
						</small>
					</div>
				</div>
			</footer> -->

		</div><!-- end:virtual-memorial-main -->
	</div><!-- end:container-wrap -->
	</div><!-- end:virtual-memorial-page -->

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<!-- <script src="../static/js/jquery.min.js"></script> -->
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="../static/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="../static/js/owl.carousel.min.js"></script>
	<!-- Counters -->
	<script src="../static/js/jquery.countTo.js"></script>
	<!-- jQuery-UI for auto-complete -->
	<div class="JQUERY_UI">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </div>
	<!-- Axios for AJAX lookups-->
	<script src="https://unpkg.com/axios/dist/axios.js"></script>
	
	
	<!-- JS for db/jQuery auto-complete -->
    <script src="../static/js/rememberTogether.js"></script>
	<!-- MAIN JS for CSS sliding -->
	<script src="../static/js/obituary.js"></script>

	</body>
</html>

