{% extends 'flower_base.html' %}

{% block title %}{{ departed.fname }} {{ departed.lname }} obituary{% endblock %}
{% block meta_content %}
virtual memorial wall in loving memory of {{ departed.fname }} {{ departed.lname }}
{% endblock %}

{% block event %}
<h1>Shopping Cart</h1>
{% for msg in get_flashed_messages() %} 
    <div class="bg-success m-4 text-center">
    <br>
        <h3 class="display-3 text-center">{{msg}}</h3>
        <br>
    </div>
    {% endfor %}
<div class="row">
	<div class="col">
		
		<div class="col-sm-4">
		{% set count = namespace(value=0) %}
		{% for item in cart_contents['products'] %}
			<div class="col flower-column text-start justify-content-center" >
				<div class="card flower-card text-start " style="width: 24rem;">
				<!-- style=" background-color: #F2F3F7;" -->
				<img class="card-img-top flower-card-image mb-1 " src="{{ flower_urls[count.value][item ['CODE']] }}" alt="{{ item['NAME'] }} for {{ departed.fname }} {{ departed.lname }}">
				<div class="row">
						<p class="card-text">{{ item["NAME"] }}</p>
						<p class="flower-box"><small >item#: {{ item ['CODE']}}</small></p>	
						<p class="flower-box"><small>${{ item['PRICE'] }}</small></p>
						<div class="tiny">
						<p class="flower-box"><a href="/deletefromcart/{{item['CODE']}}">Remove from cart</a></p>
							</div>
					</div>
				</div>
			</div>
			{% set count.value = count.value + 1 %}
			{% endfor %}
		</div>
	</div>
		<div class="col-sm-8">
			<div class="col flower-column  pl-4 text-start justify-content-center" >

				<div class="card flower-card text-start " style="width: 60rem;">
					<div class="card-body">		

						<div class="subtotal-output">
							<div class="row">
								Delivery Zip Code: {{zip}} <br>
								Delivery Date: {{date}} <br><br>
								<div class="col-sm-7">Subtotal:</div>
								<div class="col sm-3">${{ "{:.2f}".format(cost['SUBTOTAL']) }}</div>
							</div>
							<div class="row">
								<div class="col-sm-7 ">Florist's delivery charge:</div>
								<div class="col sm-3">${{ "{:.2f}".format(cost['DELIVERYCHARGETOTAL']) }}</div>
							</div>
							<div class="row">
								<div class="col-sm-7 ">Tax:</div>
								<div class="col sm-3">${{ "{:.2f}".format(cost['TAXTOTAL']) }}</div>
							</div>
							<div class="row">
								<div class="col-sm-7 ">Order Total:</div>
								<div class="col sm-3">${{ "{:.2f}".format(cost['ORDERTOTAL']) }}</div>
							</div>
						</div>

						<div class="row">
							<br><br>

							<form action="/flower-cart4" method= "POST", enctype="multipart/form-data">
							{{ form.hidden_tag() }}
							{{ form.csrf_token }}

							{% set count2 = namespace(value=0) %}
								{% for field in form if field.widget.input_type != 'hidden' %}

								{% if count2.value == 0: %}

								<div id="msg-area">
									MESSAGE AREA
									<div class="form-group">
										{{ field.label }}
										{{field(class="form-control")}}
										{% for error in field.errors %} 
											<br>
											<small class="form-text text-danger">
											{{ error }} 
											</small>
										{% endfor %} 
									</div>
								</div>
								{% endif %}

								{% if count2.value == 1: %}
								<div id="recipient">
									RECIPIENT DATA DIV
								{% endif %}
								{% if count2.value > 0 and count2.value < 10: %}
									<div class="form-group">
										{{ field.label }}
										{{field(class="form-control")}}
										{% for error in field.errors %} 
											<br>
											<small class="form-text text-danger">
											{{ error }} 
											</small>
										{% endfor %} 
									</div>
								</div>
								{% endif%}

								{% if count2.value == 9: %}
								END RECIPIENT DIV
								{% endif %}

								{% if count2.value == 10: %}
								<div id="recipient">
									SENDER DATA DIV
								{% endif %}

								{% if count2.value >= 10: %}
									<div class="form-group">
										{{ field.label }}
										{{field(class="form-control")}}
										{% for error in field.errors %} 
											<br>
											<small class="form-text text-danger">
											{{ error }} 
											</small>
										{% endfor %} 
									</div>
									{% endif%}



								{% set count2.value = count2.value + 1 %}
							{% endfor %} 

							<!-- <input type='text' id='datepicker' placeholder="Click to select date"> -->
							<!-- <select name="delivery-date" id="delivery-date">

								{% for date in dates %}
								<option value="{{date}}">{{date}}</option>
								{% endfor %}
								<input type="submit" value="Send Flowers" class="btn btn-primary">
							</select> -->
							<br><br>

							<button class="btn btn-success" type="submit">Place Order</button>
						</form>
						</div>
						
					</div>
				</div>
			</div>
		</div>
</div>











{% endblock %}



{% block gallery %}



{% endblock %}