{% extends 'flower_base.html' %}

{% block title %}{{ departed.fname }} {{ departed.lname }} obituary{% endblock %}
{% block meta_content %}
virtual memorial wall in loving memory of {{ departed.fname }} {{ departed.lname }}
{% endblock %}

{% block event %}
<h1>Shopping Cart</h1>
<div class="row">
	<div class="col">
		<div class="col-sm-6">
			
			{% set count = namespace(value=0) %}
			{% for item in cart_contents['products'] %}

				<div class="col flower-column text-start justify-content-center" >
					<!-- style=" background-color: #F2F3F7;" -->
					<div class="card flower-card text-start " style="width: 24rem;">
						<img class="card-img-top flower-card-image mb-1 " src="{{ flower_urls[count.value][item ['CODE']] }}" alt="{{ item['NAME'] }} for {{ departed.fname }} {{ departed.lname }}">
						<p class="card-text">{{ item["NAME"] }}</p>
						<p class="flower-box"><small>item#: {{ item ['CODE']}}</small></p>
						<p class="flower-box"><small>${{ item['PRICE'] }}</small></p>

						<p class="flower-box"><div class="tiny"><a href="/deletefromcart/{{item['CODE']}}">Remove from cart</a></div></p>
					
			
					<div class="card-body">
				</div>
			</div>
		</div>
		{% set count.value = count.value + 1 %}
	{% endfor %}
		</div>
		<div class="col-sm-6">
			<div class="col flower-column  m-1 text-start justify-content-center" style=" background-color: #F2F3F7;">
				<div class="card flower-card text-start " style="width: 24rem;">
					<div class="card-body">			
						<h3>Check Available Dates:</h3>
						<form action="/flower-cart2" method= "POST", enctype="multipart/form-data">

							{{ form.hidden_tag() }}
							
							{% for field in form 
								  if field.widget.input_type != 'hidden' %}
							
									<p> {{ field.label }} 
										<!-- add bootstrap class to form field -->
										{{ field(class="form-control", style="background-color:white; border: 1px solid black; border-radius: 5px;") }}
									 </p>
							
									{% for error in field.errors %} {{ error }} 
									{% endfor %} 
							
							{% endfor %}
							
							{% for msg in get_flashed_messages() %} 
								 {{msg}}
							{% endfor %}
							<input type="submit" value="Get Dates" class="btn btn-primary">
							</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>










{% endblock %}



{% block gallery %}



{% endblock %}