{% extends 'flower_base.html' %}

{% block title %}{{ departed.fname }} {{ departed.lname }} obituary{% endblock %}
{% block meta_content %}
virtual memorial wall in loving memory of {{ departed.fname }} {{ departed.lname }}
{% endblock %}

{% block event %} 
<h1>Review Your Order</h1> 
	<div class="col-sm-7">
		<div class="card flower-card text-start " style="width: 60rem;">
			<div class="card-body">		
				<strong>Delivering to:</strong> <br> 
				{{ name }} <br>
				<small>	{{ address }}
					{% if address2: %}
						{{ address2 }}
					{% endif %} <br>
					{{ city }}, {{ state }} {{zip}} <br>
					on {{date}} <br>
					<strong>Message:</strong> <br>
					<div class = "col-sm-6" style="border: 2px solid lightgray; padding: 4px; margin: 4px;">
						<div style="font-style: italic">
							{{ cardmessage }}
						</div>
					</div>
					<div class="col-sm-10 text-start">
						<a href="/edit-flower-form" style="font-style: italic; ">Edit</a>
					</div>
				</small>
				<br><br>
			</div>
				<div class="subtotal-output col-sm-7" style=" margin-top: 16px">
					<div class="row">
						
						<div class="col-sm-7">Subtotal:</div>
						<div class="col sm-3">${{ "{:.2f}".format(cost['SUBTOTAL']) }}</div>
					</div>
					<div class="row">
						<div class="col-sm-7 ">Florist's delivery charge:</div>
						<div class="col sm-3">${{ "{:.2f}".format(cost['DELIVERYCHARGETOTAL']) }}</div>
					</div>
					<div class="row">
						<div class="col-sm-7 ">Tax:</div>
						<div class="col sm-3">${{ "{:.2f}".format(cost['TAXTOTAL']) }}</div>
					</div>
					<div class="row">
						<div class="col-sm-7 ">Order Total:</div>
						<div class="col sm-3">${{ "{:.2f}".format(cost['ORDERTOTAL']) }}</div>
					</div>
				</div>
				<a href="/flower-cart4"><button class="btn btn-success" style="margin-top: 16px;">Proceed to Secure Checkout</button></a>
			</div>
		</div>

		<div class=" cart-contents col-sm-5">
		{% set count = namespace(value=0) %}
		{% for item in cart_contents['products'] %}
			<div class="col flower-column text-start justify-content-center" >
				<div class="card flower-card text-start " style="width: 24rem;">
				<!-- style=" background-color: #F2F3F7;" -->
				<img class="card-img-top flower-card-image mb-1 " src="{{ flower_urls[count.value][item ['CODE']] }}" alt="{{ item['NAME'] }} for {{ departed.fname }} {{ departed.lname }}">
				<div class="row">
						<p class="card-text">{{ item["NAME"] }}</p>
						<p class="flower-box"><small >item#: {{ item ['CODE']}}</small></p>	
						<p class="flower-box"><small>${{ item['PRICE'] }}</small></p>
						<div class="tiny">
						<p class="flower-box"><a href="/deletefromcart/{{item['CODE']}}">Remove from cart</a></p>
							</div>
					</div>
				</div>
			</div>
			{% set count.value = count.value + 1 %}
			{% endfor %}
		</div>












{% endblock %}



{% block gallery %}



{% endblock %}