{% extends 'flower_base.html' %}

{% block title %}{{ departed.fname }} {{ departed.lname }} obituary{% endblock %}
{% block meta_content %}
virtual memorial wall in loving memory of {{ departed.fname }} {{ departed.lname }}
{% endblock %}

{% block event %}
<h1>Shopping Cart</h1>
<div class="row">
	<div class="col">
		<div class="col-sm-6">
			{% for item in cart_contents['products'] %}
				<div class="col flower-column text-start justify-content-center" >
					<!-- style=" background-color: #F2F3F7;" -->
					
					<div class="card flower-card text-start " style="width: 24rem;">
						<p class="card-title">{{ item["NAME"] }} <br>
							<small>${{ item['PRICE'] }}</small>
						<br><div class="tiny"><a href="/deletefromcart/{{item['CODE']}}">Remove from cart</a></div>
					</p>
			

			
					<div class="card-body">
				</div>
			</div>
		</div>
	{% endfor %}
		</div>
		<div class="col-sm-6">
			<div class="col flower-column  m-1 text-start justify-content-center" style=" background-color: #F2F3F7;">
				<div class="card flower-card text-start " style="width: 24rem;">
					<div class="card-body">			
						<h3>Available Delivery Dates:</h3>
						<form action="/flower-cart3" method= "POST", enctype="multipart/form-data">
							<!-- <input type='text' id='datepicker' placeholder="Click to select date"> -->
							<select name="delivery-date" id="delivery-date">

								{% for date in dates %}
								<option value="{{date}}">{{date}}</option>
								{% endfor %}
								<!-- TODO: ADD FACEBOOK VS GUEST CHECKOUT HERE -->
								<input type="submit" value="Pick Date & Continue to Checkout" class="btn btn-primary">
							</select>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>










{% endblock %}



{% block gallery %}



{% endblock %}