{% extends 'base.html' %}

{% block title %}Create a virtual memorial wall {% endblock %}
{% block meta_content %}create an obituary {% endblock %}

{% block control_panel %}
<div class="text-center">
	<div class = "virtual-memorial-font"><a href="/">Virtual-Memorials.net</a></div>
</div>
    
	<span class="menu-text">Search for Loved One</span>
    <div id = "zoom-game-area">
        <!-- AUTO-FILL EXPERIMENT -->
        <form action="/api/departed/1" class = "form-inline"> 
            <div class="ui-widget form-control">
                <input id="departed-search" placeholder="Name or memorial id" >
				<span id="departed-search-btn" class="btn btn-sm btn-primary mt-3">Go</div> 
            </div>
        </form>

        <div class="departed-display"></div>

    </div>
	<div></div>
    
{% endblock %}

{% block links %}
	<!-- <li>
		<a href="#" data-nav-section="memorial">Look up a Memorial Page</a>
	</li> -->
	<hr>

	{% if 'user_id' in session %}
    	<li><a href="/logout" class="external">Logout</a></li>
	{% else %}
		<li>
			<a href="/register" class="external">Register</a>/<a href="/login" class="external">Login</a>
		</li>
  	{% endif %}


	<li>
		<a href="/logintocreate" class="external">Create Memorial Page</a>
	</li>
			<!-- <br> -->

	<li>
		<a href="#" data-nav-section="admin">Funeral Director Resources</a>
	</li>

	<br>

{% endblock%}

{% block intro_section %}
	<div class="col-6">
		<div class="bg-warning m-4 text-center">
			{% for msg in get_flashed_messages() %} 
				<span class="display-3 text-center">{{msg}}</span><br>
			{% endfor %}
		</div>
	</div>

	
<section id="virtual-memorial-hero" class="js-fullheight" data-section="home">
	<div class="flexslider js-fullheight">
		<ul class="slides">
		   <li style="background-image: url(../static/images/family2.jpg);">
			   <div class="overlay"></div>
			   <div class="container-fluid">
				   <div class="row">
					   <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
						   <div class="slider-text-inner js-fullheight">
							   <div class="desc">
								   <h2 class="front-page-desc">Remember them TOGETHER forever with virtual memorial walls</h2>
							</div>
						   </div>
					   </div>
				   </div>
			   </div>
		   </li>
		   <li style="background-image: url(../static/images/older_couple1.jpg);">
			   <div class="overlay"></div>
			   <div class="container-fluid">
				   <div class="row">
					   <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
						   <div class="slider-text-inner">
							   <div class="desc">
								<div class="desc">
									<h2 class="front-page-desc">Celebrate their life TOGETHER even if some are miles away</h2>
							 </div>
									
								</div>
						   </div>
					   </div>
				   </div>
			   </div>
		   </li>
		  </ul>
	  </div>
</section>

{% endblock %}

{% block control_panel2 %}


    <div id = "auto-complete-area2">
        Search for the memorial page for someone you love
        <form action="/api/departed/1"> 
            <div class="ui-widget form-control">
                <input id="departed-search2" placeholder="Name or memorial id" style = "display: inline;">
				<span id="departed-search-btn2" class="btn btn-primary border rounded-pill form-control-small mt-2">Go</div> 
            </div>
        </form>

        <div class="departed-display"></div>

    </div>
	<br><br><br><br><br>
	<br><br><br><br><br>

    
{% endblock %}


{% block event %}
{% endblock %}



{% block gallery %}

	

{% endblock %}