{% extends 'base.html' %}

{% block title %}Create a virtual memorial wall {% endblock %}
{% block meta_content %}create an obituary {% endblock %}

{% block control_panel %}
    {% for msg in get_flashed_messages() %} 
    <div class="bg-success m-4 text-center">
    <br>
        <h3 class="display-3 text-center">{{msg}}</h3>
        <br>
    </div>
    {% endfor %}
	<span class="menu-text">Search for Loved One</span>
    <div id = "zoom-game-area">
        <!-- AUTO-FILL EXPERIMENT -->
        <form action="/api/departed/1" class = "form-inline"> 
            <div class="ui-widget form-control">
                <input id="departed-search" placeholder="Name or memorial id" >
				<span id="departed-search-btn" class="btn btn-sm btn-primary mt-3">Go</div> 
            </div>
        </form>

        <div class="departed-display"></div>

    </div>
    
{% endblock %}

{% block links %}
	<!-- <li>
		<a href="#" data-nav-section="memorial">Look up a Memorial Page</a>
	</li> -->
	<hr>
	<!-- <br> -->
	<li>
		<a href="/create" class="external">Create Memorial Page</a>
	</li>
			<!-- <br> -->

	<li>
		<a href="#" data-nav-section="admin">Funeral Director Resources</a>
	</li>
{% endblock%}

{% block intro_section %}

	
<section id="virtual-memorial-hero" class="js-fullheight" data-section="home">
	<div class="flexslider js-fullheight">
		<ul class="slides">
		   <li style="background-image: url(../static/images/family2.jpg);">
			   <div class="overlay"></div>
			   <div class="container-fluid">
				   <div class="row">
					   <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
						   <div class="slider-text-inner js-fullheight">
							   <div class="desc">
								   <h2 class="front-page-desc">Remember them TOGETHER forever with virtual memorial walls</h2>
							</div>
						   </div>
					   </div>
				   </div>
			   </div>
		   </li>
		   <li style="background-image: url(../static/images/older_couple1.jpg);">
			   <div class="overlay"></div>
			   <div class="container-fluid">
				   <div class="row">
					   <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
						   <div class="slider-text-inner">
							   <div class="desc">
								<div class="desc">
									<h2 class="front-page-desc">Celebrate their life TOGETHER even if some are miles away</h2>
							 </div>
									
								</div>
						   </div>
					   </div>
				   </div>
			   </div>
		   </li>
		  </ul>
	  </div>
</section>

{% endblock %}

{% block control_panel2 %}
    {% for msg in get_flashed_messages() %} 
    <div class="bg-success m-4 text-center">
    <br>
        <h3 class="display-3 text-center">{{msg}}</h3>
        <br>
    </div>
    {% endfor %}

    <div id = "auto-complete-area2">
        Search for the memorial page for someone you love
        <form action="/api/departed/1"> 
            <div class="ui-widget form-control">
                <input id="departed-search2" placeholder="Name or memorial id" style = "display: inline;">
				<span id="departed-search-btn2" class="btn btn-primary border rounded-pill form-control-small mt-2">Go</div> 
            </div>
        </form>

        <div class="departed-display"></div>

    </div>
    
{% endblock %}


{% block event %}

<!-- TODO: FIX GRAMMAR SO IT dynamically says were held at or will be held at -->

<!-- booked_yet= True,  -->


 {{ departed.funeral_home_name }} <br>
 On {{ event_times }} <br>
 at {{ departed.event_address }} {{ departed.room }} <br>
 {{ departed.event_city }}, {{ departed.event_state }} {{ departed.event_zip }} <br>
 {{ departed.event_phone }} {{ departed.event_url }}

{% endblock %}



{% block gallery %}

<!-- <div class="align-items-start departed-cards-holder"> -->
<!-- {{ departed.fname }}: {{  departed.post }} -->

<div class="container">
	{% for ea in posts %}
									
	<!-- <div class="card departed-card col-sm-12 col-md-6 col-lg-4">
		<img src="{{ea.file_url}}" alt="picture of {{ departed.fname}} {{departed.lname}}" class="card-img-top">
		<div class="card-text">
			{{ ea.text}}
			<hr>
			<p>Contributed by: {{ ea.user.fname }} {{ ea.user.lname }}</p>
		</div>
	</div> -->

	<div class="col">
		<div class="card" style="max-width: 70%;" >
			<img class="card-img-top" src=" {{ ea.file_url }}" alt="picture of {{ departed.fname}} {{departed.lname}}">
			<div class="card-body">
			  <p class="card-text">{{ ea. text }}</p>
			  <hr>
			  <p class="card-text">Contributed by: {{ ea.user.fname }} {{ ea.user.lname }}</p>
			</div>
		  </div>
	</div>
	

	{% endfor %}
</div>
	<!-- </div> -->

{% endblock %}