{% extends 'base_no_zoom.html' %}
{% block control_panel %}
<!-- TODO: 
    - update model/change to {{departed.face_url}} <-- get from db
    - offer other options of background banners
    - create customization options of all kinds for clients through forms & uploads
    - will need to include web optimization of photots (through API possibly)
    - adjust images to change with device size
    - fix bootstrap so footer doesn't obstruct round face pic on small size

-->

    <div class="card bg-dark text-white col m-2">
        <!-- IDEAL BANNER WIDTH = 1381wx250h  look at css for card-img-top-->
        <img src="http://127.0.0.1:5000/static/images/sunset_over_clouds_banner.jpg" class=" card-img " alt="picture of {{departed.fname}} {{departed.lname}}" >
        <div class="card-img-overlay">

            
            <h1 class="card-title">
                In Loving Memory of {{ departed.fname}} {{departed.lname}}
            </h1>
            <img class="rounded-circle z-depth-2 face card-img-top" alt="100x100" src="{{ departed.headshot }}" data-holder-rendered="true">
            
        </div>
    </div>

    <br><br><br><br><br>
    
<!-- ---------------------------------------  RENDER CARDS ----------------------------------------------------- -->
    <div class="align-items-start">
        {% for ea in posts %}

            <div class="card col-sm-3">
                <img src="{{ea.file_url}}" alt="picture of {{ departed.fname}} {{departed.lname}}" class="card-img-top">
                <div class="card-text">
                    {{ ea.text}}
                    <hr>
                    <p>Contributed by: {{ ea.user.fname }} {{ ea.user.lname }}</p>
                </div>
            </div>

        {% endfor %}
    </div>


    <!-- ------------------------------------------------------------------------------------------ -->
    <footer>

        <hr>
            <div class="row">
                <div class="card m-4">
                    <h5 class="card-title">
                        <a href="/"> Remember Together</a>
                    </h5>
                    <p class="card-text text-start usp py-0 my-0   ">A place to share memories of those we love</p>
                </div>
            </div>
            <div class="row">
                <div class="card ml-4 mt-1">
                    <small><i>Thanks to these artists on Unsplash for their beautiful backgrounds: <br>
                        Kelly Jean and Jörg Angeli
                    </i></small>
                </div>
            </div>
    </footer>
{% endblock %}