{% extends 'obituary_base.html' %}

{% block gallery %}

<!-- <div class="align-items-start departed-cards-holder"> -->
<!-- {{ departed.fname }}: {{  departed.post }} -->

<div class="container">
	{% for ea in posts %}
									
	<!-- <div class="card departed-card col-sm-12 col-md-6 col-lg-4">
		<img src="{{ea.file_url}}" alt="picture of {{ departed.fname}} {{departed.lname}}" class="card-img-top">
		<div class="card-text">
			{{ ea.text}}
			<hr>
			<p>Contributed by: {{ ea.user.fname }} {{ ea.user.lname }}</p>
		</div>
	</div> -->

	<div class="col">
		<div class="card" style="max-width: 70%;" >
			<img class="card-img-top" src=" {{ ea.file_url }}" alt="picture of {{ departed.fname}} {{departed.lname}}">
			<div class="card-body">
			  <p class="card-text">{{ ea. text }}</p>
			  <hr>
			  <p class="card-text">Contributed by: {{ ea.user.fname }} {{ ea.user.lname }}</p>
			</div>
		  </div>
	</div>
	

	{% endfor %}
</div>
	<!-- </div> -->

{% endblock %}