{% extends 'base_no_zoom.html' %}
{% block control_panel %}
<!-- TODO: 
    - update model/change to {{departed.face_url}} <-- get from db
    - offer other options of background banners
    - create customization options of all kinds for clients through forms & uploads
    - will need to include web optimization of photots (through API possibly)
    - adjust images to change with device size
    - fix bootstrap so footer doesn't obstruct round face pic on small size

-->

    <div class="card">
        <!-- IDEAL BANNER WIDTH = 1381wx250h  look at css for card-img-top-->
        <img src="http://127.0.0.1:5000/static/images/sunset_over_clouds_banner.jpg" class=" card-img " alt="picture of {{departed.fname}} {{departed.lname}}" >
        <div class="card-img-overlay">

            
            <h1 class="card-title">
                In Loving Memory of {{ departed.fname}} {{departed.lname}}
            </h1>
            <img class="rounded-circle z-depth-2 face card-img-top" alt="close-up of {{departed.fname}} {{departed.lname}}" src="{{ departed.headshot }}" data-holder-rendered="true">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- <br><br><br><br><br> -->
            <hr>
        </div>
    </div>

    
<!-- ---------------------------------------  RENDER CARDS ----------------------------------------------------- -->
    <div class="align-items-start departed-cards-holder">
        {% for ea in posts %}

            <div class="card departed-card col-sm-12 col-md-6 col-lg-4">
                <img src="{{ea.file_url}}" alt="picture of {{ departed.fname}} {{departed.lname}}" class="card-img-top">
                <div class="card-text">
                    {{ ea.text}}
                    <hr>
                    <p>Contributed by: {{ ea.user.fname }} {{ ea.user.lname }}</p>
                </div>
            </div>

        {% endfor %}
    </div>


    <!-- ------------------------------------------------------------------------------------------ -->
  
{% endblock %}